.form-desafio {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #def2ed;
    background-color: white;
}

.member-list{
    margin-top: 1rem !important;
}

.titulo h1 {
    font-family: 'Montserrat', sans-serif ;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
    margin-top:30px;
}
.titulo .p-sugerencia {
    color: #4F70B6
}

.titulo p{
    font-family: 'Montserrat', sans-serif ;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.aling-button-desafio{
    background-color: #02F9C1;
    border: none;
    border-radius: 5px;
    color: #333333;
    width: 40% !important;
}

.container-desafio{
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif ;
}

.rowDesafio{
    padding: 10px;
}

.form-select{
    margin-top: 15px !important;
    width: 97% !important;
    align-items: center;
    margin-left: auto ;
    margin-right: auto;
}

.member-item{
    display: flex;
    justify-content: center;
}

.member-item p{
    margin-right: 10px;
    font-size: 16px;
}

.btn-plus-member, .member-item a{
    cursor: pointer;
}

.btn-plus-member:hover{
    box-shadow: 0px 0px 10px 0px #4F70B6;
    margin: 10px;
    border-radius: 10px;
}

.p-team-form{
    font-size: 12px;
}

.btn-sugerencia {
    box-shadow: 0px 0px 10px 0px #4F70B6;
    margin: 10px;
    border-radius: 10px;
}

