
.form-login{
    margin-top: 150px;
width: 90%;
margin-left: auto;
margin-right: auto;
align-items: center;
padding: 40px;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px #def2ed;
background-color: white;
}


.button{
    margin-top: 30px !important;
    background-color: #32F4C5 !important;
    border: none !important;
    width: 100% !important;
    color:black !important;
    font-size: 12px !important;
    cursor: pointer !important;
}

label{
    margin-top: 10px;
}