.btn-tareas{
    background-color: #32F4C5;
    border: none;
    font-size: 20px!important;
    border-radius: 21px;
    padding: 4px 11px;
    color:black;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    
}

.btn-tareas:hover{
    background-color: #2BC6B5;
    text-decoration: none;
}

.btn-tareas-completar{
    background-color: #009688;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-right:5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.btn-tareas-completar:hover{
    background-color: #00897b;
    color: #fff;
    text-decoration: none;
}

.btn-tareas-borrar {
    background-color: #bd1b1b;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-right:5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.btn-tareas-borrar:hover{
    background-color: #8d1414;
    color: #fff;
    text-decoration: none;
}

.btn-tareas-editar{
    background-color: #F5F3ED;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    color:#4f70b6;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-right:5px;
    text-decoration: none;
}

.btn-tareas-editar:hover{
    background-color: #e3e3e3;
    text-decoration: none;
}

.tarea-completada{
    text-decoration: none;
    color: #009688;
    cursor: default;
    margin-bottom: 15px;
}
.tarea-completada:hover{
    text-decoration: none;
    color: #009688;
    cursor: default;
}

.btn-tareas-descompletar{
    font-size: 14px;
    color: #bd1b1b;
}

.btn-tareas-descompletar:hover{
    font-size: 14px;
    color: #8d1414;
    text-decoration: none;
}

.div-btn-pts{
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
    margin-right: 20px;
}

.div-btn-pts a {
    background-color: #4F70B6 !important;
    color: #fff;
    border-radius: 5px;
    padding: 6px 15px;
    text-decoration: none;
}

.div-btn-pts a:hover{
    background-color: #3e5a9a;
    color: #fff;
    text-decoration: none;
}

h2{
    font-size: 25px!important;
}

.p-none-tarea{
    text-align: center;
    margin-top: 24px;
    font-size: 16px;
}

.tareas-list-cards .card{
    margin: 20px;
}

.desafio-contenedor{
    margin-right: 22px!important;
    margin-left: 22px !important;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .2);
}

.desafio-informacion{
    border-right: #4F70B6 1px solid;
}

.title-tareas{
    margin-left: 22px;
}